<!DOCTYPE html>
<html>

<head>
  <title>AME Generic Client App</title>

  
  <script>
    function ajaxCallCreateL0(case_value,L0value,L0appear) {
        fetch(`{% url "CreateL0" %}?case=${case_value}&L0value=${encodeURIComponent(L0value)}&L0appear=${encodeURIComponent(L0appear)}`)
            .then(response => response.json())
            .then(data => {
              alert(data.message);
            })
            .catch(error => {
              alert("An error occurred:", error);
            });
    }
    
  </script>
  
  <style>
    .message-box {
      border: 1px solid #ccc;
      padding: 10px;
      background: #f9f9f9;
    }
    </style>
</head>

<!-- you must pass at least the "data" and "next_action" JSON fields-->

<body>
<center>
    <h1>
      <div class="message-box">
        <p> {{ data.case }}</p>
      </div>
      
      
    </h1>

</center>
<!--<label for="L1">Level 1 Proposition:</label>
<input type="text" id="L1" name="L1" placeholder=""> -->
<!--let L0value = document.getElementById('L0').value; -->
<!--let caseLength = case_value.length;
    alert('Case length: ' + caseLength); -->

{% if next_action  == 'input_terms' %}
    <label for="L0">Level 0 Proposition:</label>
    <input type="text" id="L0" name="L0" placeholder="This recipe has these ingredients.">
    <br>
    <label for="L0appear">Level 0 Appearance:</label>
    <input type="text" id="L0appear" name="L0appear" placeholder="Enter terms...">
    <br>
    <button onclick="ajaxCallCreateL0('{{data.case}}',L0.value,L0appear.value)">CREATE L0 PROPOSITION</button> 

{% elif state == 'test' %}
    <button onclick="ajaxCallTrain('{{data.case}}',L0.value)">SET CASE TO TRAIN</button> 

{% endif %}  



</body>
</html>
