<!DOCTYPE html>
<html>

<head>
  <title>AME Generic Client App</title>

  
  <script>
    function ajaxCallCreateL0(case_value,L0value,L0appear) {
        fetch(`{% url "CreateL0" %}?case=${case_value}&L0value=${encodeURIComponent(L0value)}&L0appear=${encodeURIComponent(L0appear)}`)
            .then(response => response.json())
            .then(data => {
              messageBox.innerText = data['message'];
              B0.disabled = true;
              B1.disabled = false;
            })
            .catch(error => {
              alert("An error occurred:", error);
            });
            
          }   
    function ajaxCallCreateL1() {
        messageBox.innerText = "S1-L1 Default Generated"
        L1.value = "This recipe is..."
              B1.disabled = true;
              B2.disabled = false;
              B3.disabled = false;
          }   
    function ajaxCallCreateL2(case_value,L1value) {
        fetch(`{% url "CreateL1" %}?case=${case_value}&L1value=${encodeURIComponent(L1value)}`)
            .then(response => response.json())
            .then(data => {
              messageBox.innerText = data['message'];
              B2.disabled = true;
    
            })
            .catch(error => {
              alert("An error occurred:", error);
            });
        
          }  
    function ajaxCallCreateL3(case_value,L1value,L1Desired) {
        fetch(`{% url "CreateL2" %}?case=${case_value}&L1value=${encodeURIComponent(L1value)}&L1Desired=${encodeURIComponent(L1Desired)}`)
            .then(response => response.json())
            .then(data => {
              messageBox.innerText = data['message'];
              B2.disabled = true;
              B3.disabled = true;
              B4.disabled = false;
    
            })
            .catch(error => {
              alert("An error occurred:", error);
            });
        
          }  
    function ajaxCallCreateL4(case_value) {
        fetch(`{% url "CreateL3" %}?case=${case_value}`)
            .then(response => response.json())
            .then(data => {
              messageBox.innerText = data['decision'] + " " + data['judgments'];
              B4.disabled = false;    
            })
            .catch(error => {
              alert("An error occurred:", error);
            });
        
          }  
    function ajaxRetractThat(case_value,L1value) {
        fetch(`{% url "CreateL4" %}?case=${case_value}`)
            .then(response => response.json())
            .then(data => {
              messageBox.innerText = data['message'];
            })
            .catch(error => {
              alert("An error occurred:", error);
            });
        
          }  
    function ajaxTrain(case_value,L1value) {
        fetch(`{% url "CreateL5" %}?case=${case_value}`)
            .then(response => response.json())
            .then(data => {
              messageBox.innerText = data['message'];
              
            })
            .catch(error => {
              alert("An error occurred:", error);
            });
        
          }  
  </script>
  
  <style>
    .message-box {
      border: 1px solid #ccc;
      padding: 10px;
      background: #f9f9f9;
    }
    </style>
</head>

<!-- you must pass at least the "data" and "next_action" JSON fields-->

<body>
    

<center>
    <h1>
      <div class="message-box">
        <p>Case Number {{ data.case }}</p>
      </div>
    </h1>
    
    <div id="messageBox"></div>
  
</center>


{% if next_action  == 'input_terms' %}
    <label for="L0">Level 0 Proposition:</label>
    <input type="text" id="L0" name="L0" value="This recipe has these ingredients." readonly>
    <br>
    <label for="L0appear">Level 0 Appearance:</label>
    <input type="text" id="L0appear" name="L0appear" placeholder="Enter terms...">
    <br>
    <label for="L1">Level 1 Proposition:</label>
    <input type="text" id="L1" name="L1" placeholder="">
    <br>
    <label for="L1Desired">Level 1 Desired Terms:</label>
    <input type="text" id="L1Desired" name="L1Desired" placeholder="">
    <br>
    <button id="B0", onclick="ajaxCallCreateL0('{{data.case}}',L0.value,L0appear.value)">ADD S1-L0 PROPOSITION TO CASE</button> 
    <button id="B1", onclick="ajaxCallCreateL1()">GENERATE QUICK S1-L1</button> 
    <button id="B2", onclick="ajaxCallCreateL2('{{data.case}}',L1.value)">ADD S1-L1 DEFAULT TO CASE</button> 
    <button id="B3", onclick="ajaxCallCreateL3('{{data.case}}',L1.value,L1Desired.value)">ADD S2-L1 PROPOSITION OR QUERY</button> 
    <button id="B4", onclick="ajaxCallCreateL4('{{data.case}}')">DELIBERATE S1-L1</button> 
    <button id="B5", onclick="ajaxRetractThat('{{data.case}}')">RETRACT LAST PROPOSITION</button> 
    <button id="B6", onclick="ajaxTrain('{{data.case}}')">TRAIN CASE</button> 

    <button id="refreshButton">NEW CASE</button>

    <script>
      // Get button element
      const refreshButton = document.getElementById('refreshButton');
      // Add click handler
      refreshButton.addEventListener('click', function() {
          // Reload page
          L0appear.value = "Enter terms..."
          L1.value = ""
          location.reload();

          });
    
      B1.disabled = true;
      B2.disabled = true;
      B3.disabled = true;
      B4.disabled = true;
      // Get new message box 
      const messageBox = document.getElementById('messageBox');

      // Set message 
      messageBox.innerText = 'Start/Reset';

      
</script>


{% elif state == 'test' %}
    <button onclick="ajaxCallTrain('{{data.case}}',L0.value)">SET CASE TO TRAIN</button> 

{% endif %}  


<div class="message-box" ID="message-box2">
      Enter terms
      </div>

  
<script>
      
      document.addEventListener('keydown', function(event) {
      const messageBox2 = document.getElementById('message-box2');
      if (messageBox2 && event.key === 'F5') {
        refreshButton.click()
      } else if (messageBox2) {
        messageBox2.innerText = "";
      }
        });
</script>


</body>
</html>
